#{extends 'main.html' /}
#{set title:'Home' /}

<h2 class="title"><a href="#">${message}</a></h2>
<div class="entry">
    <p>${request?.method} on ${request?.path}</p>
    <p>
        <div id="form">
            name : <input type="text" name="name" id="name"/><br/>
            surname : <input type="text" name="surname" id="surname"/><br/>
            address : <input type="text" name="address" id="address"/><br/>
            <input type="submit" value="ok" onclick="add();">
        </div>
        <div id="wait"><img src="/public/img/bar.gif"/></div>
        <div id="results">
            <p>Person added</p>
            <input type="submit" value="add" onclick="show();">
        </div>
        <div id="fail">
            <p>Person not added</p>
            <input type="submit" value="add" onclick="show();">
        </div>
        <br/>
        <a href="/person/all">all persons</a><br/>
    <br/>
    <img src="/public/img/samcrow.png"/>
    <script type="text/javascript">
           show();
           function add() {
               $('#form').hide();
               $('#wait').show();
               var xmlDocument = "<person><address>" + $('#address').val() + "</address><name>" + $('#name').val() + "</name><surname>"+ $('#surname').val() +"</surname></person>";
               var jsonDocument = "{name:'" + $('#name').val() + "', surname:'" + $('#surname').val() + "', address:'" + $('#address').val() + "'}";
                $.ajax({
                   url: "/put",
                   type: "PUT",
                   contentType: "application/json",
                   data: jsonDocument,
                   success: function(html){
                       $('#wait').hide();
                       if (html.match("ok")) {
                           $('#results').show();
                       } else {
                            $('#fail').show();
                       }
                   }
                });
            }
            function show() {
                $('#address').val("");
                $('#name').val("");
                $('#surname').val("");
                $('#form').show();
                $('#wait').hide();
                $('#results').hide();
                $('#fail').hide();
            }
         </script>
    </p>
</div>
<div class="byline" />